<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Maker</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <div class="title">
            <h1>Menu Maker</h1>
            <img src="img/chef-hat.avif" alt="chef-hat-logo">
        </div>
    </header>
    <main>
        <form action="" method="post">
            <div class="form-group">
                <label for="">Food Name : </label>
                <input type="text" name="fName" placeholder="French Fries">
            </div>
            <div class="form-group">
                <label for="">Price(RM) : </label>
                <input type="number" name="fPrice" placeholder="3.00" step=".10" min=".10">
            </div>
            <div class="submit-btn margin-top-s">
                <button type="submit"><span></span>Add<span></span></button>
            </div>
        </form>
    </main>
    <div class="view-table margin-top-xl">
        <form action="" method="get">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Food Name</th>
                        <th>Price(RM)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Nasi Lemak</td>
                        <td>5.00</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Teh O Ais</td>
                        <td>2.50</td>
                    </tr>
                </tbody>
            </table>
        </form>
        <div class="submit-btn margin-top-s">
            <button type="button"><span></span>Generate<span></span></button>
        </div>
    </div>
</body>
</html>