<!-- header -->
    <%- include('include/_header') %>
<!-- /header -->
    <main>
        <%- include('include/form') %>
    </main>
    <div class="view-table margin-top-xl">
        <form action="" method="get">
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Food Name</th>
                        <th>Food Type</th>
                        <th>Price(RM)</th>
                    </tr>
                </thead>
                <tbody>
                    <%- include('include/show') %>
                </tbody>
            </table>
        </form>
        <div class="submit-btn margin-top-s">
            <button type="button"><span></span>Generate<span></span></button>
        </div>
    </div>

<!-- footer -->
<%- include('include/_footer') %>
<!-- /footer -->